{% load custom_filters %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
    <head>
        {% block title %}
            <title>djPotato Blog</title>
        {% endblock %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="/favicon.png">
        <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/assets/css/main.css" rel="stylesheet" media="screen">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div id="wrapper_outer">
            <div id="wrapper">
                <div id="header">
                    <h1 class="title"><a href="/">djPotato Blog</a></h1>
                </div>

                <div id="content">
                    <div class="span7 left">
                        {% block content %}
                        {% endblock %}
                    </div>

                    <div class="span3 pull-right right">
                        {% block sidebar %}
                            <div class="new-post">
                                <a href="/create" class="btn btn-danger">New Post</a>
                            </div>

                            <div id="archive">
                                <h4 class="title">Archive</h4>

                                {% for year, months in archive.items %}
                                    <script>
                                        var year = $("<a href='/{{ year }}/' class='year'>{{ year }}</a>");
                                    </script>

                                    {% for month in months %}
                                        {% with month|split:"-" as month_values %}
                                            <script>
                                                var month = $("<a href='/{{ year }}/{{ month_values.0 }}/' class='month'>{{ month_values.1 }}</a>");
                                                $('#archive .title').after(month);
                                            </script>
                                        {% endwith %}
                                    {% endfor %}

                                    <script>
                                        $('#archive .title').after(year);
                                    </script>
                                {% endfor %}
                            </div>
                        {% endblock %}
                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </body>
</html>
