<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
    <head>
        <title>djPotato Blog</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/assets/css/main.css" rel="stylesheet" media="screen">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div id="wrapper">
            <div id="header">
                {% block header %}
                {% endblock %}
            </div>

            <div id="content">
                <div id="left" class="span7">
                    {% block content %}
                    {% endblock %}
                </div>

                <div id="right" class="span4 pull-right">
                    {% block sidebar %}
                    {% endblock %}
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </body>
</html>
