{% extends "base.html" %}

{% block content %}
    <div id="form_edit">
        <h2>Edit Post</h2>
        <form method="POST" action="/edit/{{ post_id }}/">
            {% csrf_token %}
            <input type="text" id="title" name="title" value="{{ post.title }}" required />
            <textarea id="body" name="body" rows="10" required>{{ post.body }}</textarea>
            <a class="btn pull-right cancel" onclick="history.back()">Cancel</a>
            <input type="submit" class="btn btn-danger pull-right publish" value="Save" />
            <div class="clearfix"></div>
        </form>
    </div>
{% endblock %}

{% block sidebar %}
{% endblock %}
