{% extends "base.html" %}

{% block header %}
    <h1>djPotato Blog</h1>
{% endblock %}

{% block content %}
  {% for post in posts %}
      <div class="post">
          <h2 class="title">{{ post.title }}</h2>
          <div class="created_at">{{ post.created_at }}</div>
          {% if is_edited %}
              <div class="updated_at">Edited on {{ post.updated_at }}</div>
          {% endif %}
          <div class="body">{{ post.body|safe|linebreaks }}</div>
      </div>
  {% endfor %}
{% endblock %}
